extends layout

block content
  h1= title
  -let results = carslist
    .container-fluid
      .row
        each car,index in results
          .col-sm-2(onclick=`buy(${index})`)
            p Model: #{car.model}
            p Year: #{car.year}
  script.
      function buy(index) {
        alert(`You purchased item ${index}.`);
      }          
    